langchain
langgraph
langchain-community
langchain-groq
langchain-tavily
python-dotenv
langsmith
pydantic
youtube-transcript-api
chromadb
sentence-transformers
langchain-huggingface
langchain-chroma
langchain-mcp-adapters
neo4j-mcp-server
langchain-text-splitters
mcp
